<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <!-- CSS only -->
   

</head>
<body>
        <!----navbar-->
    <div class="nav-wrapper">
        
        <nav class="navbar">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c8/Bluestar_%28bus_company%29_logo.svg/1280px-Bluestar_%28bus_company%29_logo.svg.png"
                alt="Company Logo">
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav no-search">
                <li class="nav-item"><a href="#">Home</a></li>
                <li class="nav-item"><a href="#">About</a></li>
                <li class="nav-item"><a href="#">Work</a></li>
                <li class="nav-item"><a href="#">Careers</a></li>
                <li class="nav-item"><a href="#">Contact Us</a></li>
                <i class="fas fa-search" id="search-icon"></i>
                <input class="search-input" type="text" placeholder="Search..">
            </ul>
        </nav>
    </div>
    <!--index-->
    <div class="index-wrapper">
            <div class="index">
                <div class="left-content">
                    <h4>CURRENTLY READING</h4>
                    <div class="what-r-u-doing"><img
                            src="https://s.gr-assets.com/assets/react_components/currently_reading/icn_default_CR_ltrail-16f28d39654104ceb329648a474943eb.svg"
                            alt="">
                        <p>What are you reading</p>
                    </div>
                    <li class="search-icon">
                        <input type="search" placeholder="Search">
                        <label class="icon">
                            <span class="fas fa-search"></span>
                        </label>
                    </li>
                    <a href="">Recommendations</a>.<a href="">General Updates</a>
                </div>
                <div class="updates">
                    <h4>UPDATES</h4>
            
                    <div class="content">
                        <p>Trending this week in one of your favorite genres,</p>
                        <a href="">Romance</a>
            
                        <div class="book-details">
            
                            <div class="book-img">
                                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1597940104i/54332582._SY180_.jpg"
                                    alt="">
                            </div>
            
                            <div class="book-content">
            
                                <h2>The Seat Filler</h2>
                                <h4>by Sariah Wilson</h4>
                                <select name="" id="">
                                    <option value="">Want to read</option>
                                </select>
                                <p>The movie star and the dog groomer are one kiss away from the perfect love story. That’s the
                                    hiccup in a warm and witty
                                    romance by the bestselling author of Roommaid.
                                </p>
                            </div>
            
                        </div>
            
            
                    </div>
            
            
                </div>
                <div class="footer">
                    <div class="footer-links">
                        <div class="company">
                            <h4>COMPANY</h4>
                            <ul>
                                <li><a href="">About Us</a></li>
                                <li><a href="">Careers</a></li>
                                <li><a href="">Terms</a></li>
                                <li><a href="">Privacy</a></li>
                            </ul>
            
            
                        </div>
                        <div class="work-withus">
                            <h4>WORK WITHUS</h4>
                            <ul>
                                <li><a href="">About Us</a></li>
                                <li><a href="">Careers</a></li>
                                <li><a href="">Terms</a></li>
                                <li><a href="">Privacy</a></li>
                            </ul>
            
            
            
            
                        </div>
            
                    </div>
                    <div class="footer-footer">
                        <h4>CONNECT</h4>
                        <img src="https://s.gr-assets.com/assets/site_footer/footer_facebook-ea4ab848f8e86c5f5c98311bc9495a1b.svg"
                            alt="">
                        <img src="https://s.gr-assets.com/assets/site_footer/footer_twitter-126b3ee80481a763f7fccb06ca03053c.svg"
                            alt="">
                        <img src="https://s.gr-assets.com/assets/site_footer/footer_instagram-d59e3887020f12bcdb12e6c539579d85.svg"
                            alt="">
                        <img src="https://s.gr-assets.com/assets/site_footer/footer_linkedin-5b820f4703eff965672594ef4d10e33c.svg"
                            alt="">
            
                        <br>
                        <img src="https://s.gr-assets.com/assets/app/badge-ios-desktop-homepage-6ac7ae16eabce57f6c855361656a7540.svg"
                            alt="">
            
                        <img src="https://s.gr-assets.com/assets/app/badge-android-desktop-home-0f517cbae4d56c88a128d27a7bea1118.png"
                            alt="">
                    </div>
                </div>
            
            </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        
        $("#search-icon").click(function () {
                $(".nav").toggleClass("search");
                $(".nav").toggleClass("no-search");
                $(".search-input").toggleClass("search-active");
            });

            $('.menu-toggle').click(function () {
                $(".nav").toggleClass("mobile-nav");
                $(this).toggleClass("is-active");
            });

    </script>


        

</body>
</html>